/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* "Reset" css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
